<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content, scripts, links)">
    <head th:replace="~{fragments/head :: head('Welcome', ${links})}"></head>
    <body class="h-screen bg-gray-50 overflow-hidden">

        <div class="flex h-screen overflow-hidden">
            <!-- Page Content -->
            <th:block th:replace="${content}"></th:block>
        </div>

        <!-- Page Specific JS -->
        <th:block th:replace="${scripts}"></th:block>

    </body>
</html>